tmp_exec_2600_full.json
{"id":"2600","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-04-27T16:28:35.738Z","startedAt":"2026-04-27T16:28:35.773Z","stoppedAt":"2026-04-27T16:29:56.506Z","deletedAt":null,"workflowId":"E24KwVMam1e8bbjT","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"error":{"code":"ECONNRESET","message":"aborted","stack":"Error: aborted\n    at TLSSocket.socketCloseListener (node:_http_client:535:19)\n    at TLSSocket.emit (node:events:520:35)\n    at node:net:346:12\n    at TCP.done (node:internal/tls/wrap:671:7)"},"runData":{"Scope Call Webhook":[{"startTime":1777307315809,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"kaiashley.app.n8n.cloud","user-agent":"node","content-length":"420","accept":"*/*","accept-encoding":"gzip, br","accept-language":"*","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"116.90.116.118","cf-ew-via":"15","cf-ipcountry":"PK","cf-ray":"9f2f33834d20d2ee-FRA","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"116.90.116.118, 172.71.164.99","x-forwarded-host":"kaiashley.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-78-54c9bd7fd8-npmbr","x-is-trusted":"yes","x-real-ip":"116.90.116.118"},"params":{},"query":{},"body":{"record_id":"rec0CZwY3tHIoqOA7","client_slug":"qa-smoke-moheuzaq","company_name":"QA Smoke moheuzaq","industry":"Professional Services","call_notes":"Client runs a US bookkeeping firm. They manually copy website leads into Airtable, send Gmail follow-ups, and create ClickUp onboarding tasks. They need lead intake, proposal drafting, and onboarding task creation automated with Kai approval before sending proposals."},"webhookUrl":"https://kaiashley.app.n8n.cloud/webhook/scope-call","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Prepare Client Data":[{"startTime":1777307315809,"executionIndex":1,"source":[{"previousNode":"Scope Call Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"record_id":"rec0CZwY3tHIoqOA7","company_name":"QA Smoke moheuzaq","client_slug":"qa-smoke-moheuzaq","industry":"Professional Services","call_notes":"Client runs a US bookkeeping firm. They manually copy website leads into Airtable, send Gmail follow-ups, and create ClickUp onboarding tasks. They need lead intake, proposal drafting, and onboarding task creation automated with Kai approval before sending proposals."},"pairedItem":{"item":0}}]]}}],"Fetch Full Client Record":[{"startTime":1777307315816,"executionIndex":2,"source":[{"previousNode":"Prepare Client Data","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":468,"executionStatus":"success","data":{"main":[[{"json":{"records":[{"id":"rec0CZwY3tHIoqOA7","createdTime":"2026-04-27T16:28:35.000Z","fields":{"prospect_name":"QA Smoke Lead","company_name":"QA Smoke moheuzaq","industry":"Professional Services","job_title":"Owner","team_size":12,"email":"qa-smoke-moheuzaq@example.com","outreach_status":"test-complete","source":"qa_smoke","lead_score_grade":"A","Precall Brief":"QA smoke test prospect for workflow validation.","call_notes":"Client runs a US bookkeeping firm. They manually copy website leads into Airtable, send Gmail follow-ups, and create ClickUp onboarding tasks. They want lead intake, proposal, and onboarding automated with clear owner review before anything goes live.","project_status":"call_complete","client_slug":"qa-smoke-moheuzaq"}}]},"pairedItem":{"item":0}}]]}}],"Set Status to Scoping":[{"startTime":1777307316284,"executionIndex":3,"source":[{"previousNode":"Fetch Full Client Record","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":517,"executionStatus":"success","data":{"main":[[{"json":{"id":"rec0CZwY3tHIoqOA7","createdTime":"2026-04-27T16:28:35.000Z","fields":{"prospect_name":"QA Smoke Lead","company_name":"QA Smoke moheuzaq","industry":"Professional Services","job_title":"Owner","team_size":12,"email":"qa-smoke-moheuzaq@example.com","outreach_status":"test-complete","source":"qa_smoke","lead_score_grade":"A","Precall Brief":"QA smoke test prospect for workflow validation.","call_notes":"Client runs a US bookkeeping firm. They manually copy website leads into Airtable, send Gmail follow-ups, and create ClickUp onboarding tasks. They want lead intake, proposal, and onboarding automated with clear owner review before anything goes live.","project_status":"scoping","client_slug":"qa-smoke-moheuzaq"}},"pairedItem":{"item":0}}]]}}],"Scoping agent":[{"startTime":1777307316801,"executionIndex":4,"source":[{"previousNode":"Set Status to Scoping","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":79704,"executionStatus":"error","error":{"code":"ECONNRESET","message":"aborted","stack":"Error: aborted\n    at TLSSocket.socketCloseListener (node:_http_client:535:19)\n    at TLSSocket.emit (node:events:520:35)\n    at node:net:346:12\n    at TCP.done (node:internal/tls/wrap:671:7)"}}]},"lastNodeExecuted":"Scoping agent"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"curlImport":"","method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openRouterApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ model: 'z-ai/glm-4.5-air:free', max_tokens: 1000, messages: [{ role: 'user', content:\n'You are a senior automation consultant for Phoenix Automation. Return ONLY valid JSON with no markdown. ' +\n'Allowed service_tier values: starter-build, growth-build, scale-build, retainer, agency-retainer. ' +\n'Read these assessment notes and identify the best 1 to 3 practical automations. ' +\n'Return JSON keys: scope_summary, service_tier, automation_count, automation_1_name, automation_1_description, automation_2_name, automation_2_description, automation_3_name, automation_3_description, tools_required.\\n\\n' +\n'Client: ' + $('Prepare Client Data').item.json.company_name + '\\n' +\n'Industry: ' + $('Prepare Client Data').item.json.industry + '\\n' +\n'Notes: ' + $('Prepare Client Data').item.json.call_notes\n }] }) }}","options":{},"infoMessage":""},"id":"9731bff9-a88e-4e65-86eb-4143d9061633","name":"Scoping agent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,-80],"credentials":{"openRouterApi":{"id":"hz6Vtt70sQ6Td1GQ","name":"OpenRouter account"}}},"data":{"main":[[{"json":{"id":"rec0CZwY3tHIoqOA7","createdTime":"2026-04-27T16:28:35.000Z","fields":{"prospect_name":"QA Smoke Lead","company_name":"QA Smoke moheuzaq","industry":"Professional Services","job_title":"Owner","team_size":12,"email":"qa-smoke-moheuzaq@example.com","outreach_status":"test-complete","source":"qa_smoke","lead_score_grade":"A","Precall Brief":"QA smoke test prospect for workflow validation.","call_notes":"Client runs a US bookkeeping firm. They manually copy website leads into Airtable, send Gmail follow-ups, and create ClickUp onboarding tasks. They want lead intake, proposal, and onboarding automated with clear owner review before anything goes live.","project_status":"scoping","client_slug":"qa-smoke-moheuzaq"}},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Set Status to Scoping","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1777307315808,"source":"webhook","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"Scope Call Webhook","type":"n8n-nodes-base.webhook"}}},"resumeToken":"87935cf51494dea18a6c92124ee2f93fb134aa98ebbd0d70436bfc8ccd30400c"},"workflowData":{"id":"E24KwVMam1e8bbjT","name":"[PA] Scoping Agent","active":true,"activeVersionId":"9ae5342e-5509-449e-8ebd-73ece8dec445","isArchived":false,"createdAt":"2026-04-03T18:47:55.848Z","updatedAt":"2026-04-27T16:21:44.867Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"scope-call","authentication":"none","responseMode":"onReceived","contentTypeNotice":"","options":{}},"id":"scope-webhook","name":"Scope Call Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,144],"webhookId":"scope-call"},{"parameters":{"notice":"","rule":{"interval":[{"field":"hours","hoursInterval":2,"triggerAtMinute":0}]}},"id":"scope-schedule","name":"Poll Every 2 Hours","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1488,416]},{"parameters":{"curlImport":"","method":"GET","url":"https://api.airtable.com/v0/appMLHig3CN7WW0iW/tbluEsKoQ2p49ktVq?filterByFormula=AND(%7Bproject_status%7D%3D%22call_complete%22%2C%7Bcall_notes%7D!%3D%22%22)&fields%5B%5D=company_name&fields%5B%5D=client_slug&fields%5B%5D=industry&fields%5B%5D=call_notes&fields%5B%5D=project_status","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"id":"scope-fetch-pending","name":"Fetch call_complete Clients","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,416],"credentials":{"airtableTokenApi":{"id":"yEdsHctqunebTaNp","name":"Airtable Personal Access Token account"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"c1","leftValue":"={{ ($json.records||[]).length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"scope-if-pending","name":"IF Pending Clients","type":"n8n-nodes-base.if","typeVersion":2,"position":[1936,416]},{"parameters":{},"id":"scope-exit","name":"Exit No Pending","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2160,512]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const records = $json.records || [];\nreturn records.map(r => ({\n  json: {\n    record_id: r.id,\n    company_name: r.fields.company_name || '',\n    client_slug: r.fields.client_slug || '',\n    industry: r.fields.industry || '',\n    call_notes: r.fields.call_notes || ''\n  }\n}));","notice":""},"id":"scope-split","name":"Split Records","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,320]},{"parameters":{"splitInBatchesNotice":"","batchSize":1,"options":{}},"id":"scope-loop","name":"Loop Over Clients","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2384,176]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Handles webhook, form, and loop input\nconst body = $json.body || $json;\nconst formData = $json['Client slug'] !== undefined;\nreturn [{\n  json: {\n    record_id: body.record_id || '',\n    company_name: formData ? $json['Company name'] : (body.company_name || body.client_name || ''),\n    client_slug: formData ? $json['Client slug'] : (body.client_slug || ''),\n    industry: formData ? ($json['Industry'] || '') : (body.industry || ''),\n    call_notes: formData ? $json['Call notes'] : (body.call_notes || '')\n  }\n}];","notice":""},"id":"scope-merge-input","name":"Prepare Client Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,48]},{"parameters":{"curlImport":"","method":"GET","url":"=https://api.airtable.com/v0/appMLHig3CN7WW0iW/tbluEsKoQ2p49ktVq?filterByFormula=%7Bclient_slug%7D%3D%22{{ $json.client_slug }}%22","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":false,"options":{},"infoMessage":""},"id":"scope-fetch-record","name":"Fetch Full Client Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,-80],"credentials":{"airtableTokenApi":{"id":"yEdsHctqunebTaNp","name":"Airtable Personal Access Token account"}},"continueOnFail":true},{"parameters":{"curlImport":"","method":"PATCH","url":"=https://api.airtable.com/v0/appMLHig3CN7WW0iW/tbluEsKoQ2p49ktVq/{{ ($json.records||[])[0]?.id || $('Prepare Client Data').item.json.record_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\"fields\":{\"project_status\":\"scoping\"}}","options":{},"infoMessage":""},"id":"scope-set-status-scoping","name":"Set Status to Scoping","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,-80],"credentials":{"airtableTokenApi":{"id":"yEdsHctqunebTaNp","name":"Airtable Personal Access Token account"}},"continueOnFail":true},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const text = $json.choices?.[0]?.message?.content || $json.content?.[0]?.text || $json.output || '{}';\nlet scope;\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  scope = match ? JSON.parse(match[0]) : {};\n} catch(e) { scope = {}; }\n\nconst client = $('Prepare Client Data').item.json;\nconst prospectTiers = new Set(['starter-build', 'growth-package', 'scale-retainer']);\nconst tierMap = {\n  'starter-package': 'starter-build',\n  'growth-build': 'growth-package',\n  'growth-package': 'growth-package',\n  'scale-build': 'scale-retainer',\n  'scale-package': 'scale-retainer',\n  'retainer': 'scale-retainer',\n  'agency-retainer': 'scale-retainer',\n};\nconst rawTier = String(scope.service_tier || 'starter-build').trim();\nconst service_tier = prospectTiers.has(rawTier) ? rawTier : (tierMap[rawTier] || 'starter-build');\n\nreturn [{\n  json: {\n    record_id: client.record_id,\n    client_slug: client.client_slug,\n    company_name: client.company_name,\n    scope_summary: scope.scope_summary || '',\n    service_tier,\n    automation_count: scope.automation_count || 1,\n    automation_1_name: scope.automation_1_name || '',\n    automation_1_description: scope.automation_1_description || '',\n    automation_2_name: scope.automation_2_name || '',\n    automation_2_description: scope.automation_2_description || '',\n    automation_3_name: scope.automation_3_name || '',\n    automation_3_description: scope.automation_3_description || '',\n    tools_required: Array.isArray(scope.tools_required) ? scope.tools_required.join(', ') : (scope.tools_required || '')\n  }\n}];","notice":""},"id":"scope-parse","name":"Parse Scope JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,-80],"continueOnFail":true},{"parameters":{"curlImport":"","method":"PATCH","url":"=https://api.airtable.com/v0/appMLHig3CN7WW0iW/tbluEsKoQ2p49ktVq/{{ $('Set Status to Scoping').item.json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ fields: { project_status: \"scope_review\", scope_of_work: $json.scope_summary || \"\", scope_summary: $json.scope_summary || \"\", service_tier: $json.service_tier || \"starter-build\", automation_count: Number($json.automation_count || 1), automation_1_name: $json.automation_1_name || \"\", automation_1_description: $json.automation_1_description || \"\", automation_2_name: $json.automation_2_name || \"\", automation_2_description: $json.automation_2_description || \"\", automation_3_name: $json.automation_3_name || \"\", automation_3_description: $json.automation_3_description || \"\", tools_required: Array.isArray($json.tools_required) ? $json.tools_required.join(\", \") : ($json.tools_required || \"\") } }) }}","options":{},"infoMessage":""},"id":"scope-write-airtable","name":"Write Scope to Airtable","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,-80],"credentials":{"airtableTokenApi":{"id":"yEdsHctqunebTaNp","name":"Airtable Personal Access Token account"}}},{"parameters":{"resource":"email","operation":"send","fromEmail":"Kai Edwards | Phoenix Automation <kai@phoenixautomation.ai>","toEmail":"kai@phoenixautomation.ai","subject":"=?? Scope ready for review: {{ $(\"Parse Scope JSON\").item.json.company_name }}","emailFormat":"html","html":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"margin:0;padding:0;background:#f4f4f2;font-family:Arial,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f2;padding:32px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#fff;border:1px solid #e6e8ec;border-radius:12px;overflow:hidden;\">\n          \n          <tr>\n            <td style=\"height:6px;background:#F26A21;font-size:0;\">&nbsp;</td>\n          </tr>\n\n          <tr>\n            <td style=\"padding:24px 32px 12px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td style=\"padding-right:14px;\">\n                    <img src=\"https://rjlmskrzddphshaxnmeh.supabase.co/storage/v1/object/public/pics/gM5tzo6q_400x400.png\" width=\"36\" height=\"36\" style=\"display:block;border-radius:4px;\">\n                  </td>\n                  <td>\n                    <p style=\"margin:0;font-size:18px;font-weight:bold;color:#13233F;\">?? Scope Ready for Review</p>\n                    <p style=\"margin:4px 0 0;font-size:12px;color:#667085;\">Phoenix Automation ? Internal Notification</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding:0 32px;\">\n              <hr style=\"border:none;border-top:1px solid #e5e5e5;margin:16px 0;\">\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding:0 32px 24px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                <tr>\n                  <td style=\"padding:6px 0;font-size:13px;color:#667085;width:140px;vertical-align:top;\">Company</td>\n                  <td style=\"padding:6px 0;font-size:13px;color:#1a1a1a;word-break:break-word;\">{{ $json.fields.company_name }}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:6px 0;font-size:13px;color:#667085;width:140px;vertical-align:top;\">Slug</td>\n                  <td style=\"padding:6px 0;font-size:13px;color:#1a1a1a;word-break:break-word;\">{{ $json.fields.client_slug }}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:6px 0;font-size:13px;color:#667085;width:140px;vertical-align:top;\">Tier</td>\n                  <td style=\"padding:6px 0;font-size:13px;color:#1a1a1a;word-break:break-word;\">{{ $json.fields.service_tier }}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:6px 0;font-size:13px;color:#667085;width:140px;vertical-align:top;\">Automations</td>\n                  <td style=\"padding:6px 0;font-size:13px;color:#1a1a1a;word-break:break-word;\">{{ $json.fields.automation_count }}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:6px 0;font-size:13px;color:#667085;width:140px;vertical-align:top;\">Tools required</td>\n                  <td style=\"padding:6px 0;font-size:13px;color:#1a1a1a;word-break:break-word;\">{{ $json.fields.tools_required }}</td>\n                </tr>\n                <tr>\n                  <td style=\"padding:6px 0;font-size:13px;color:#667085;width:140px;vertical-align:top;\">Automation 1</td>\n                  <td style=\"padding:6px 0;font-size:13px;color:#1a1a1a;word-break:break-word;\">\n                    {{ $json.fields.automation_1_name ? ($json.fields.automation_1_name + ($json.fields.automation_1_description ? \" ? \" + $json.fields.automation_1_description : \"\")) : \"\" }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:6px 0;font-size:13px;color:#667085;width:140px;vertical-align:top;\">Automation 2</td>\n                  <td style=\"padding:6px 0;font-size:13px;color:#1a1a1a;word-break:break-word;\">\n                    {{ $json.fields.automation_2_name ? ($json.fields.automation_2_name + ($json.fields.automation_2_description ? \" ? \" + $json.fields.automation_2_description : \"\")) : \"\" }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:6px 0;font-size:13px;color:#667085;width:140px;vertical-align:top;\">Automation 3</td>\n                  <td style=\"padding:6px 0;font-size:13px;color:#1a1a1a;word-break:break-word;\">\n                    {{ $json.fields.automation_3_name ? ($json.fields.automation_3_name + ($json.fields.automation_3_description ? \" ? \" + $json.fields.automation_3_description : \"\")) : \"\" }}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:6px 0;font-size:13px;color:#667085;width:140px;vertical-align:top;\">Summary</td>\n                  <td style=\"padding:6px 0;font-size:13px;color:#1a1a1a;word-break:break-word;\">{{ $json.fields.scope_summary }}</td>\n                </tr>\n              </table>\n\n              <p style=\"margin:24px 0 0 0;\">\n                <a href=\"https://kaiashley.app.n8n.cloud/webhook/approve-scope?client_slug={{ encodeURIComponent($json.fields.client_slug || '') }}\" style=\"display:inline-block;background:#13233F;color:#fff;text-decoration:none;padding:10px 20px;border-radius:6px;font-size:13px;font-weight:bold;\">\n                  Approve Scope\n                </a>\n              </p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"background:#fcfcfb;padding:14px 32px;border-top:1px solid #e5e5e5;\">\n              <p style=\"margin:0;font-size:12px;color:#888;\">\n                This email was sent automatically by Phoenix Automation workflows &nbsp;|&nbsp;\n                <a href=\"https://phoenixautomation.ai\" style=\"color:#E8651A;text-decoration:none;\">phoenixautomation.ai</a>\n              </p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>","options":{}},"id":"scope-email-kai","name":"Email Kai for Approval","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1936,-80],"webhookId":"f24978fd-a5e3-4ba7-a92d-1ad0d204442f","credentials":{"smtp":{"id":"BMlj5xK8OMFXYMzw","name":"SMTP account 2"}},"continueOnFail":true},{"parameters":{"curlImport":"","method":"POST","url":"https://api.airtable.com/v0/appMLHig3CN7WW0iW/tblL7tDAh1KTLtwpt","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ records: [{ fields: { workflow: \"[PA] Scoping Agent\", event: \"scope_generated\", client: $(\"Parse Scope JSON\").item.json.client_slug || \"\", run_at: new Date().toISOString(), timestamp: new Date().toISOString(), status: \"completed\" } }] }) }}","options":{},"infoMessage":""},"id":"scope-log","name":"Log to Automation Logs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,-80],"credentials":{"airtableTokenApi":{"id":"yEdsHctqunebTaNp","name":"Airtable Personal Access Token account"}},"continueOnFail":true},{"parameters":{"authentication":"none","formTitle":"Post-Call Scope ? Phoenix Automation","formDescription":"Fill this in immediately after an assessment call. Takes 2 minutes.","formFields":{"values":[{"fieldLabel":"Client slug","fieldType":"dropdown","defaultValue":"","fieldOptions":{"values":[{"option":"acme-test-co"},{"option":"meridian-consulting-group"},{"option":"qa-smoke-mod6au75"}]},"multiselect":false,"requiredField":true},{"fieldLabel":"Company name","fieldType":"text","placeholder":"","defaultValue":"","requiredField":true},{"fieldLabel":"Industry","fieldType":"text","placeholder":"e.g. Health & Wellness","defaultValue":"","requiredField":false},{"fieldLabel":"Call notes","fieldType":"textarea","placeholder":"What does the client do? What manual tasks eat their time? What tools do they use? How big is their team? Any urgency or blockers mentioned?","defaultValue":"","requiredField":true}]},"responseMode":"lastNode","addFormPage":"","options":{}},"id":"scope-form","name":"Scope Call Form","type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[240,-48],"webhookId":"scope-call-form"},{"parameters":{"curlImport":"","method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openRouterApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ model: 'z-ai/glm-4.5-air:free', max_tokens: 1000, messages: [{ role: 'user', content:\n'You are a senior automation consultant for Phoenix Automation. Return ONLY valid JSON with no markdown. ' +\n'Allowed service_tier values: starter-build, growth-build, scale-build, retainer, agency-retainer. ' +\n'Read these assessment notes and identify the best 1 to 3 practical automations. ' +\n'Return JSON keys: scope_summary, service_tier, automation_count, automation_1_name, automation_1_description, automation_2_name, automation_2_description, automation_3_name, automation_3_description, tools_required.\\n\\n' +\n'Client: ' + $('Prepare Client Data').item.json.company_name + '\\n' +\n'Industry: ' + $('Prepare Client Data').item.json.industry + '\\n' +\n'Notes: ' + $('Prepare Client Data').item.json.call_notes\n }] }) }}","options":{},"infoMessage":""},"id":"9731bff9-a88e-4e65-86eb-4143d9061633","name":"Scoping agent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,-80],"credentials":{"openRouterApi":{"id":"hz6Vtt70sQ6Td1GQ","name":"OpenRouter account"}}}],"connections":{"Scope Call Webhook":{"main":[[{"node":"Prepare Client Data","type":"main","index":0}]]},"Poll Every 2 Hours":{"main":[[{"node":"Fetch call_complete Clients","type":"main","index":0}]]},"Fetch call_complete Clients":{"main":[[{"node":"IF Pending Clients","type":"main","index":0}]]},"IF Pending Clients":{"main":[[{"node":"Split Records","type":"main","index":0}],[{"node":"Exit No Pending","type":"main","index":0}]]},"Split Records":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}]]},"Loop Over Clients":{"main":[[],[{"node":"Prepare Client Data","type":"main","index":0}]]},"Prepare Client Data":{"main":[[{"node":"Fetch Full Client Record","type":"main","index":0}]]},"Fetch Full Client Record":{"main":[[{"node":"Set Status to Scoping","type":"main","index":0}]]},"Set Status to Scoping":{"main":[[{"node":"Scoping agent","type":"main","index":0}]]},"Parse Scope JSON":{"main":[[{"node":"Write Scope to Airtable","type":"main","index":0}]]},"Write Scope to Airtable":{"main":[[{"node":"Email Kai for Approval","type":"main","index":0}]]},"Email Kai for Approval":{"main":[[{"node":"Log to Automation Logs","type":"main","index":0}]]},"Log to Automation Logs":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}]]},"Scope Call Form":{"main":[[{"node":"Prepare Client Data","type":"main","index":0}]]},"Scoping agent":{"main":[[{"node":"Parse Scope JSON","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"JByknkdAgxRmDKp3","availableInMCP":false,"binaryMode":"separate"},"staticData":{"node:Poll Every 2 Hours":{"recurrenceRules":[12]}},"pinData":{}},"workflowVersionId":"9ae5342e-5509-449e-8ebd-73ece8dec445","customData":{}}
