tmp_morning_brief_wf.json
{"updatedAt":"2026-04-14T12:46:16.884Z","createdAt":"2026-04-14T12:25:32.029Z","id":"EKKXeBCEiKXaYBCx","name":"[PA] Morning Brief Delivery","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"morning-brief","options":{}},"id":"node-webhook","name":"Receive Morning Brief","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,304],"webhookId":"b3f1816e-e2fb-42e4-89fc-e0f07d5ae0c3"},{"parameters":{"jsCode":"const body = $input.first().json.body;\nreturn [{\n  json: {\n    date: body.date || 'today',\n    kai_brief: body.kai_brief || 'No brief content',\n    howard_brief: body.howard_brief || 'No brief content'\n  }\n}];"},"id":"node-code","name":"Parse Brief","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304]},{"parameters":{"fromEmail":"kai@phoenixautomation.ai","toEmail":"kai@phoenixautomation.ai","subject":"=?? KAI OS Morning Brief ? {{ $json.date }}","options":{},"emailType":null,"message":null,"emailFormat":"html","html":"={{ $json.kai_brief }}"},"id":"node-email-kai","name":"Email Kai","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[752,192],"webhookId":"6a099389-c5c2-4e4a-b502-0085dc75f3f3","credentials":{"smtp":{"id":"Hc9UrAaW5BbvWunb","name":"SMTP account 3"}}},{"parameters":{"fromEmail":"kai@phoenixautomation.ai","toEmail":"jack@phoenixautomation.ai","subject":"=?? Good morning Howard ? {{ $json.date }}","options":{},"emailType":null,"message":null,"emailFormat":"html","html":"={{ $json.howard_brief }}"},"id":"node-email-howard","name":"Email Howard","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[752,432],"webhookId":"9d15d3a7-9759-4084-a050-c3b048c9c7a3","credentials":{"smtp":{"id":"Hc9UrAaW5BbvWunb","name":"SMTP account 3"}}}],"connections":{"Receive Morning Brief":{"main":[[{"node":"Parse Brief","type":"main","index":0}]]},"Parse Brief":{"main":[[{"node":"Email Kai","type":"main","index":0},{"node":"Email Howard","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"13521e03-1ed8-4644-8ba2-f25f7e0b2b7a","activeVersionId":"13521e03-1ed8-4644-8ba2-f25f7e0b2b7a","versionCounter":17,"triggerCount":1,"shared":[{"updatedAt":"2026-04-14T12:25:32.031Z","createdAt":"2026-04-14T12:25:32.031Z","role":"workflow:owner","workflowId":"EKKXeBCEiKXaYBCx","projectId":"FGEIObUgGtQpX9db","project":{"updatedAt":"2026-03-27T03:42:03.331Z","createdAt":"2025-08-15T19:40:19.374Z","id":"FGEIObUgGtQpX9db","name":"Kai Edwards <kai@phoenixautomation.ai>","type":"personal","icon":null,"description":null,"creatorId":"653f0258-598e-488b-9920-b679073f3f51"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-14T12:46:16.884Z","createdAt":"2026-04-14T12:46:16.884Z","versionId":"13521e03-1ed8-4644-8ba2-f25f7e0b2b7a","workflowId":"EKKXeBCEiKXaYBCx","nodes":[{"parameters":{"httpMethod":"POST","path":"morning-brief","options":{}},"id":"node-webhook","name":"Receive Morning Brief","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,304],"webhookId":"b3f1816e-e2fb-42e4-89fc-e0f07d5ae0c3"},{"parameters":{"jsCode":"const body = $input.first().json.body;\nreturn [{\n  json: {\n    date: body.date || 'today',\n    kai_brief: body.kai_brief || 'No brief content',\n    howard_brief: body.howard_brief || 'No brief content'\n  }\n}];"},"id":"node-code","name":"Parse Brief","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304]},{"parameters":{"fromEmail":"kai@phoenixautomation.ai","toEmail":"kai@phoenixautomation.ai","subject":"=?? KAI OS Morning Brief ? {{ $json.date }}","options":{},"emailType":null,"message":null,"emailFormat":"html","html":"={{ $json.kai_brief }}"},"id":"node-email-kai","name":"Email Kai","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[752,192],"webhookId":"6a099389-c5c2-4e4a-b502-0085dc75f3f3","credentials":{"smtp":{"id":"Hc9UrAaW5BbvWunb","name":"SMTP account 3"}}},{"parameters":{"fromEmail":"kai@phoenixautomation.ai","toEmail":"jack@phoenixautomation.ai","subject":"=?? Good morning Howard ? {{ $json.date }}","options":{},"emailType":null,"message":null,"emailFormat":"html","html":"={{ $json.howard_brief }}"},"id":"node-email-howard","name":"Email Howard","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[752,432],"webhookId":"9d15d3a7-9759-4084-a050-c3b048c9c7a3","credentials":{"smtp":{"id":"Hc9UrAaW5BbvWunb","name":"SMTP account 3"}}}],"connections":{"Receive Morning Brief":{"main":[[{"node":"Parse Brief","type":"main","index":0}]]},"Parse Brief":{"main":[[{"node":"Email Kai","type":"main","index":0},{"node":"Email Howard","type":"main","index":0}]]}},"authors":"Kai Edwards","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-14T12:46:17.177Z","id":221,"workflowId":"EKKXeBCEiKXaYBCx","versionId":"13521e03-1ed8-4644-8ba2-f25f7e0b2b7a","event":"activated","userId":"653f0258-598e-488b-9920-b679073f3f51"},{"createdAt":"2026-04-14T12:46:17.024Z","id":220,"workflowId":"EKKXeBCEiKXaYBCx","versionId":"13521e03-1ed8-4644-8ba2-f25f7e0b2b7a","event":"deactivated","userId":"653f0258-598e-488b-9920-b679073f3f51"}]}}
