tmp_scoping_notifier_wf.json
{"updatedAt":"2026-04-24T16:32:38.762Z","createdAt":"2026-04-22T18:19:14.188Z","id":"nXXsF4E1BPWIS62r","name":"[PA] Scoping Notifier","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 * * * *"}]}},"id":"n1","name":"Poll Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,-208]},{"parameters":{},"id":"n2","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-800,-64]},{"parameters":{"url":"https://api.airtable.com/v0/appMLHig3CN7WW0iW/tbluEsKoQ2p49ktVq","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"=filterByFormula","value":"AND({project_status}=\"call_complete\",{scoping_notified_at}=\"\",{call_notes}!=\"\")"}]},"options":{}},"id":"n3","name":"Fetch call_complete Prospects","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,-208],"credentials":{"airtableTokenApi":{"id":"yEdsHctqunebTaNp","name":"Airtable Personal Access Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ ($json.records||[]).length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"n4","name":"IF Has Prospects","type":"n8n-nodes-base.if","typeVersion":2,"position":[-368,-208]},{"parameters":{},"id":"n5","name":"Exit — No Pending","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-80,-16]},{"parameters":{"jsCode":"const records = $input.first().json.records || [];\nreturn records.map(r => ({ json: { record_id: r.id, ...r.fields } }));"},"id":"n6","name":"Split Prospect Records","type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-208]},{"parameters":{"fromEmail":"Kai Edwards | Phoenix Automation <kai@phoenixautomation.ai>","toEmail":"kai@phoenixautomation.ai","subject":"=📋 Ready to scope: {{ $json.company_name }}","html":"=\n<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#f4f4f2;font-family:Arial,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f2;padding:32px 0;\"><tr><td align=\"center\">\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#fff;border:1px solid #e6e8ec;border-radius:12px;overflow:hidden;\">\n<tr><td style=\"height:6px;background:#F26A21;font-size:0;\">&nbsp;</td></tr>\n<tr><td style=\"padding:24px 32px 12px;\">\n  <p style=\"margin:0;font-size:13px;color:#F26A21;font-weight:600;letter-spacing:1px;text-transform:uppercase;\">Phoenix Automation</p>\n  <h1 style=\"margin:8px 0 0;font-size:22px;color:#13233F;\">Assessment Call Complete</h1>\n</td></tr>\n<tr><td style=\"padding:16px 32px;\">\n  <p style=\"margin:0 0 16px;color:#444;font-size:15px;\">A prospect has been marked <strong>call complete</strong> and is ready for scoping.</p>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e6e8ec;border-radius:8px;overflow:hidden;\">\n    <tr style=\"background:#f8f8f6;\"><td style=\"padding:10px 16px;font-size:12px;font-weight:600;color:#888;text-transform:uppercase;width:160px;\">Company</td><td style=\"padding:10px 16px;font-size:14px;color:#13233F;\">{{ $json.company_name }}</td></tr>\n    <tr><td style=\"padding:10px 16px;font-size:12px;font-weight:600;color:#888;text-transform:uppercase;border-top:1px solid #f0f0ee;\">Contact</td><td style=\"padding:10px 16px;font-size:14px;color:#13233F;border-top:1px solid #f0f0ee;\">{{ $json.prospect_name }}</td></tr>\n    <tr style=\"background:#f8f8f6;\"><td style=\"padding:10px 16px;font-size:12px;font-weight:600;color:#888;text-transform:uppercase;border-top:1px solid #f0f0ee;\">Email</td><td style=\"padding:10px 16px;font-size:14px;color:#13233F;border-top:1px solid #f0f0ee;\">{{ $json.email }}</td></tr>\n    <tr><td style=\"padding:10px 16px;font-size:12px;font-weight:600;color:#888;text-transform:uppercase;border-top:1px solid #f0f0ee;\">Industry</td><td style=\"padding:10px 16px;font-size:14px;color:#13233F;border-top:1px solid #f0f0ee;\">{{ $json.industry }}</td></tr>\n    <tr style=\"background:#f8f8f6;\"><td style=\"padding:10px 16px;font-size:12px;font-weight:600;color:#888;text-transform:uppercase;border-top:1px solid #f0f0ee;\">Lead Grade</td><td style=\"padding:10px 16px;font-size:14px;color:#13233F;border-top:1px solid #f0f0ee;\">{{ $json.lead_score_grade || '—' }}</td></tr>\n    <tr><td style=\"padding:10px 16px;font-size:12px;font-weight:600;color:#888;text-transform:uppercase;border-top:1px solid #f0f0ee;\">Slug</td><td style=\"padding:10px 16px;font-size:14px;font-family:monospace;color:#F26A21;border-top:1px solid #f0f0ee;\">{{ $json.client_slug }}</td></tr>\n  </table>\n  {{ $json['Precall Brief'] ? '<h3 style=\"margin:20px 0 8px;font-size:14px;color:#13233F;\">Pre-Call Brief</h3><p style=\"margin:0;font-size:14px;color:#444;white-space:pre-wrap;\">' + $json['Precall Brief'] + '</p>' : '' }}\n  {{ $json.call_notes ? '<h3 style=\"margin:20px 0 8px;font-size:14px;color:#13233F;\">Call Notes</h3><p style=\"margin:0;font-size:14px;color:#444;white-space:pre-wrap;\">' + $json.call_notes.slice(0, 500) + ($json.call_notes.length > 500 ? '...' : '') + '</p>' : '' }}\n  <div style=\"margin:28px 0 8px;text-align:center;\">\n    <a href=\"https://kaiashley.app.n8n.cloud/form/scope-call-form\" style=\"display:inline-block;background:#13233F;color:#fff;text-decoration:none;padding:14px 36px;border-radius:8px;font-size:15px;font-weight:600;\">Start Scoping Now</a>\n  </div>\n  <p style=\"margin:8px 0 0;font-size:12px;color:#999;text-align:center;\">Clicking will trigger Claude to generate the scope automatically.</p>\n</td></tr>\n<tr><td style=\"padding:16px 32px 24px;border-top:1px solid #f0f0ee;\">\n  <p style=\"margin:0;font-size:12px;color:#aaa;text-align:center;\">This email was sent automatically by Phoenix Automation · <a href=\"https://phoenixautomation.ai\" style=\"color:#aaa;\">phoenixautomation.ai</a></p>\n</td></tr>\n</table></td></tr></table></body></html>","options":{}},"id":"n8","name":"Send Scoping Ready Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[304,-208],"webhookId":"4004607c-e796-40b0-8d14-a8418993813d","credentials":{"smtp":{"id":"BMlj5xK8OMFXYMzw","name":"SMTP account 2"}}},{"parameters":{"method":"PATCH","url":"=https://api.airtable.com/v0/appMLHig3CN7WW0iW/tbluEsKoQ2p49ktVq/{{ $('Split Prospect Records').item.json.record_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ fields: { scoping_notified_at: new Date().toISOString() } }) }}","options":{}},"id":"n9","name":"Mark Notified","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,-208],"credentials":{"airtableTokenApi":{"id":"yEdsHctqunebTaNp","name":"Airtable Personal Access Token account"}}},{"parameters":{"path":"trigger-scoping","responseMode":"responseNode","options":{}},"id":"n10","name":"Trigger Scoping Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,160],"webhookId":"951001d3-7b0c-4dd2-a47f-dfaf7f7503dc"},{"parameters":{"url":"https://api.airtable.com/v0/appMLHig3CN7WW0iW/tbluEsKoQ2p49ktVq","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"filterByFormula","value":"={client_slug}=\"{{ $json.query.client_slug }}\""},{"name":"maxRecords","value":"1"}]},"options":{}},"id":"n11","name":"Fetch Prospect by Slug","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,160],"credentials":{"airtableTokenApi":{"id":"yEdsHctqunebTaNp","name":"Airtable Personal Access Token account"}}},{"parameters":{"jsCode":"const records = $input.first().json.records || [];\nconst p = records.length > 0 ? records[0].fields : {};\nconst record_id = records.length > 0 ? records[0].id : null;\nreturn [{ json: { record_id, company_name: p.company_name || '', client_slug: p.client_slug || '',\n  industry: p.industry || '', call_notes: p.call_notes || '',\n  prospect_name: p.prospect_name || '' } }];"},"id":"n12","name":"Extract Prospect","type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,160]},{"parameters":{"method":"POST","url":"https://kaiashley.app.n8n.cloud/webhook/scope-call","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"n13","name":"Trigger Scope-Call Webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,160]},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html><html><head><meta charset=\"UTF-8\">\n<style>body{font-family:Arial,sans-serif;background:#f4f4f2;display:flex;align-items:center;justify-content:center;min-height:100vh;margin:0;}\n.card{background:#fff;border-radius:12px;padding:48px 56px;text-align:center;max-width:480px;border:1px solid #e6e8ec;}\n.bar{height:6px;background:#F26A21;border-radius:12px 12px 0 0;margin:-48px -56px 40px;}\nh2{color:#13233F;margin:0 0 12px;}p{color:#666;margin:0;font-size:15px;}</style></head>\n<body><div class=\"card\"><div class=\"bar\"></div>\n<h2>✅ Scoping Started</h2>\n<p>Claude is now generating the scope of work for <strong>{{ $json.company_name }}</strong>.<br><br>You'll receive an email when it's ready to review.</p>\n</div></body></html>","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html"}]}}},"id":"n14","name":"Respond — Scoping Started","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[80,160]}],"connections":{"Poll Every 5 Minutes":{"main":[[{"node":"Fetch call_complete Prospects","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Fetch call_complete Prospects","type":"main","index":0}]]},"Fetch call_complete Prospects":{"main":[[{"node":"IF Has Prospects","type":"main","index":0}]]},"IF Has Prospects":{"main":[[{"node":"Split Prospect Records","type":"main","index":0}],[{"node":"Exit — No Pending","type":"main","index":0}]]},"Split Prospect Records":{"main":[[{"node":"Send Scoping Ready Email","type":"main","index":0}]]},"Send Scoping Ready Email":{"main":[[{"node":"Mark Notified","type":"main","index":0}]]},"Mark Notified":{"main":[[]]},"Trigger Scoping Webhook":{"main":[[{"node":"Fetch Prospect by Slug","type":"main","index":0}]]},"Fetch Prospect by Slug":{"main":[[{"node":"Extract Prospect","type":"main","index":0}]]},"Extract Prospect":{"main":[[{"node":"Trigger Scope-Call Webhook","type":"main","index":0}]]},"Trigger Scope-Call Webhook":{"main":[[{"node":"Respond — Scoping Started","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"JByknkdAgxRmDKp3","availableInMCP":false,"binaryMode":"separate"},"staticData":{"node:Poll Every 5 Minutes":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"db64bcaa-b2f9-46bd-bc5c-818b7d62e141","activeVersionId":"db64bcaa-b2f9-46bd-bc5c-818b7d62e141","versionCounter":48,"triggerCount":2,"shared":[{"updatedAt":"2026-04-22T18:19:14.190Z","createdAt":"2026-04-22T18:19:14.190Z","role":"workflow:owner","workflowId":"nXXsF4E1BPWIS62r","projectId":"FGEIObUgGtQpX9db","project":{"updatedAt":"2026-03-27T03:42:03.331Z","createdAt":"2025-08-15T19:40:19.374Z","id":"FGEIObUgGtQpX9db","name":"Kai Edwards <kai@phoenixautomation.ai>","type":"personal","icon":null,"description":null,"creatorId":"653f0258-598e-488b-9920-b679073f3f51"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-24T16:31:31.560Z","createdAt":"2026-04-24T16:31:31.560Z","versionId":"db64bcaa-b2f9-46bd-bc5c-818b7d62e141","workflowId":"nXXsF4E1BPWIS62r","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 * * * *"}]}},"id":"n1","name":"Poll Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,-208]},{"parameters":{},"id":"n2","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-800,-64]},{"parameters":{"url":"https://api.airtable.com/v0/appMLHig3CN7WW0iW/tbluEsKoQ2p49ktVq","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"=filterByFormula","value":"AND({project_status}=\"call_complete\",{scoping_notified_at}=\"\",{call_notes}!=\"\")"}]},"options":{}},"id":"n3","name":"Fetch call_complete Prospects","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,-208],"credentials":{"airtableTokenApi":{"id":"yEdsHctqunebTaNp","name":"Airtable Personal Access Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ ($json.records||[]).length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"n4","name":"IF Has Prospects","type":"n8n-nodes-base.if","typeVersion":2,"position":[-368,-208]},{"parameters":{},"id":"n5","name":"Exit — No Pending","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-80,-16]},{"parameters":{"jsCode":"const records = $input.first().json.records || [];\nreturn records.map(r => ({ json: { record_id: r.id, ...r.fields } }));"},"id":"n6","name":"Split Prospect Records","type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-208]},{"parameters":{"fromEmail":"Kai Edwards | Phoenix Automation <kai@phoenixautomation.ai>","toEmail":"kai@phoenixautomation.ai","subject":"=📋 Ready to scope: {{ $json.company_name }}","html":"=\n<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#f4f4f2;font-family:Arial,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f2;padding:32px 0;\"><tr><td align=\"center\">\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#fff;border:1px solid #e6e8ec;border-radius:12px;overflow:hidden;\">\n<tr><td style=\"height:6px;background:#F26A21;font-size:0;\">&nbsp;</td></tr>\n<tr><td style=\"padding:24px 32px 12px;\">\n  <p style=\"margin:0;font-size:13px;color:#F26A21;font-weight:600;letter-spacing:1px;text-transform:uppercase;\">Phoenix Automation</p>\n  <h1 style=\"margin:8px 0 0;font-size:22px;color:#13233F;\">Assessment Call Complete</h1>\n</td></tr>\n<tr><td style=\"padding:16px 32px;\">\n  <p style=\"margin:0 0 16px;color:#444;font-size:15px;\">A prospect has been marked <strong>call complete</strong> and is ready for scoping.</p>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e6e8ec;border-radius:8px;overflow:hidden;\">\n    <tr style=\"background:#f8f8f6;\"><td style=\"padding:10px 16px;font-size:12px;font-weight:600;color:#888;text-transform:uppercase;width:160px;\">Company</td><td style=\"padding:10px 16px;font-size:14px;color:#13233F;\">{{ $json.company_name }}</td></tr>\n    <tr><td style=\"padding:10px 16px;font-size:12px;font-weight:600;color:#888;text-transform:uppercase;border-top:1px solid #f0f0ee;\">Contact</td><td style=\"padding:10px 16px;font-size:14px;color:#13233F;border-top:1px solid #f0f0ee;\">{{ $json.prospect_name }}</td></tr>\n    <tr style=\"background:#f8f8f6;\"><td style=\"padding:10px 16px;font-size:12px;font-weight:600;color:#888;text-transform:uppercase;border-top:1px solid #f0f0ee;\">Email</td><td style=\"padding:10px 16px;font-size:14px;color:#13233F;border-top:1px solid #f0f0ee;\">{{ $json.email }}</td></tr>\n    <tr><td style=\"padding:10px 16px;font-size:12px;font-weight:600;color:#888;text-transform:uppercase;border-top:1px solid #f0f0ee;\">Industry</td><td style=\"padding:10px 16px;font-size:14px;color:#13233F;border-top:1px solid #f0f0ee;\">{{ $json.industry }}</td></tr>\n    <tr style=\"background:#f8f8f6;\"><td style=\"padding:10px 16px;font-size:12px;font-weight:600;color:#888;text-transform:uppercase;border-top:1px solid #f0f0ee;\">Lead Grade</td><td style=\"padding:10px 16px;font-size:14px;color:#13233F;border-top:1px solid #f0f0ee;\">{{ $json.lead_score_grade || '—' }}</td></tr>\n    <tr><td style=\"padding:10px 16px;font-size:12px;font-weight:600;color:#888;text-transform:uppercase;border-top:1px solid #f0f0ee;\">Slug</td><td style=\"padding:10px 16px;font-size:14px;font-family:monospace;color:#F26A21;border-top:1px solid #f0f0ee;\">{{ $json.client_slug }}</td></tr>\n  </table>\n  {{ $json['Precall Brief'] ? '<h3 style=\"margin:20px 0 8px;font-size:14px;color:#13233F;\">Pre-Call Brief</h3><p style=\"margin:0;font-size:14px;color:#444;white-space:pre-wrap;\">' + $json['Precall Brief'] + '</p>' : '' }}\n  {{ $json.call_notes ? '<h3 style=\"margin:20px 0 8px;font-size:14px;color:#13233F;\">Call Notes</h3><p style=\"margin:0;font-size:14px;color:#444;white-space:pre-wrap;\">' + $json.call_notes.slice(0, 500) + ($json.call_notes.length > 500 ? '...' : '') + '</p>' : '' }}\n  <div style=\"margin:28px 0 8px;text-align:center;\">\n    <a href=\"https://kaiashley.app.n8n.cloud/form/scope-call-form\" style=\"display:inline-block;background:#13233F;color:#fff;text-decoration:none;padding:14px 36px;border-radius:8px;font-size:15px;font-weight:600;\">Start Scoping Now</a>\n  </div>\n  <p style=\"margin:8px 0 0;font-size:12px;color:#999;text-align:center;\">Clicking will trigger Claude to generate the scope automatically.</p>\n</td></tr>\n<tr><td style=\"padding:16px 32px 24px;border-top:1px solid #f0f0ee;\">\n  <p style=\"margin:0;font-size:12px;color:#aaa;text-align:center;\">This email was sent automatically by Phoenix Automation · <a href=\"https://phoenixautomation.ai\" style=\"color:#aaa;\">phoenixautomation.ai</a></p>\n</td></tr>\n</table></td></tr></table></body></html>","options":{}},"id":"n8","name":"Send Scoping Ready Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[304,-208],"webhookId":"4004607c-e796-40b0-8d14-a8418993813d","credentials":{"smtp":{"id":"BMlj5xK8OMFXYMzw","name":"SMTP account 2"}}},{"parameters":{"method":"PATCH","url":"=https://api.airtable.com/v0/appMLHig3CN7WW0iW/tbluEsKoQ2p49ktVq/{{ $('Split Prospect Records').item.json.record_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ fields: { scoping_notified_at: new Date().toISOString() } }) }}","options":{}},"id":"n9","name":"Mark Notified","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,-208],"credentials":{"airtableTokenApi":{"id":"yEdsHctqunebTaNp","name":"Airtable Personal Access Token account"}}},{"parameters":{"path":"trigger-scoping","responseMode":"responseNode","options":{}},"id":"n10","name":"Trigger Scoping Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,160],"webhookId":"951001d3-7b0c-4dd2-a47f-dfaf7f7503dc"},{"parameters":{"url":"https://api.airtable.com/v0/appMLHig3CN7WW0iW/tbluEsKoQ2p49ktVq","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"filterByFormula","value":"={client_slug}=\"{{ $json.query.client_slug }}\""},{"name":"maxRecords","value":"1"}]},"options":{}},"id":"n11","name":"Fetch Prospect by Slug","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,160],"credentials":{"airtableTokenApi":{"id":"yEdsHctqunebTaNp","name":"Airtable Personal Access Token account"}}},{"parameters":{"jsCode":"const records = $input.first().json.records || [];\nconst p = records.length > 0 ? records[0].fields : {};\nconst record_id = records.length > 0 ? records[0].id : null;\nreturn [{ json: { record_id, company_name: p.company_name || '', client_slug: p.client_slug || '',\n  industry: p.industry || '', call_notes: p.call_notes || '',\n  prospect_name: p.prospect_name || '' } }];"},"id":"n12","name":"Extract Prospect","type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,160]},{"parameters":{"method":"POST","url":"https://kaiashley.app.n8n.cloud/webhook/scope-call","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"n13","name":"Trigger Scope-Call Webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,160]},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html><html><head><meta charset=\"UTF-8\">\n<style>body{font-family:Arial,sans-serif;background:#f4f4f2;display:flex;align-items:center;justify-content:center;min-height:100vh;margin:0;}\n.card{background:#fff;border-radius:12px;padding:48px 56px;text-align:center;max-width:480px;border:1px solid #e6e8ec;}\n.bar{height:6px;background:#F26A21;border-radius:12px 12px 0 0;margin:-48px -56px 40px;}\nh2{color:#13233F;margin:0 0 12px;}p{color:#666;margin:0;font-size:15px;}</style></head>\n<body><div class=\"card\"><div class=\"bar\"></div>\n<h2>✅ Scoping Started</h2>\n<p>Claude is now generating the scope of work for <strong>{{ $json.company_name }}</strong>.<br><br>You'll receive an email when it's ready to review.</p>\n</div></body></html>","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html"}]}}},"id":"n14","name":"Respond — Scoping Started","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[80,160]}],"connections":{"Poll Every 5 Minutes":{"main":[[{"node":"Fetch call_complete Prospects","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Fetch call_complete Prospects","type":"main","index":0}]]},"Fetch call_complete Prospects":{"main":[[{"node":"IF Has Prospects","type":"main","index":0}]]},"IF Has Prospects":{"main":[[{"node":"Split Prospect Records","type":"main","index":0}],[{"node":"Exit — No Pending","type":"main","index":0}]]},"Split Prospect Records":{"main":[[{"node":"Send Scoping Ready Email","type":"main","index":0}]]},"Send Scoping Ready Email":{"main":[[{"node":"Mark Notified","type":"main","index":0}]]},"Mark Notified":{"main":[[]]},"Trigger Scoping Webhook":{"main":[[{"node":"Fetch Prospect by Slug","type":"main","index":0}]]},"Fetch Prospect by Slug":{"main":[[{"node":"Extract Prospect","type":"main","index":0}]]},"Extract Prospect":{"main":[[{"node":"Trigger Scope-Call Webhook","type":"main","index":0}]]},"Trigger Scope-Call Webhook":{"main":[[{"node":"Respond — Scoping Started","type":"main","index":0}]]}},"authors":"Kai Edwards","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-24T16:31:31.852Z","id":407,"workflowId":"nXXsF4E1BPWIS62r","versionId":"db64bcaa-b2f9-46bd-bc5c-818b7d62e141","event":"activated","userId":"653f0258-598e-488b-9920-b679073f3f51"},{"createdAt":"2026-04-24T16:32:39.069Z","id":431,"workflowId":"nXXsF4E1BPWIS62r","versionId":"db64bcaa-b2f9-46bd-bc5c-818b7d62e141","event":"activated","userId":"653f0258-598e-488b-9920-b679073f3f51"},{"createdAt":"2026-04-24T16:31:31.706Z","id":406,"workflowId":"nXXsF4E1BPWIS62r","versionId":"db64bcaa-b2f9-46bd-bc5c-818b7d62e141","event":"deactivated","userId":"653f0258-598e-488b-9920-b679073f3f51"},{"createdAt":"2026-04-24T16:32:38.907Z","id":430,"workflowId":"nXXsF4E1BPWIS62r","versionId":"db64bcaa-b2f9-46bd-bc5c-818b7d62e141","event":"deactivated","userId":"653f0258-598e-488b-9920-b679073f3f51"}]}}
